.splash-container{
    background-image: url(/assets/burger.png);
    height: 700px;
    width: 100%;
    background-size: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.splash-container h1 , h3 {
    color: white;
    text-shadow:2px 2px 0px red;
    font-family: 'Anton SC', sans-serif;
    opacity: 100%;
    
}

h1{
    font-size: 84px;
    opacity: 100%;
 justify-content: center;   
}


.nav-item{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-shadow:1px 1px 0px red;  
}

.splash-text{
    height: 700px;
    width: 100%;
    text-align: center;
    justify-content: center;
    
    align-content: center;
    
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    justify-content: center;
    padding: 50px;
    text-align: center;
    background-color: black;
}

.about-container img{
    display: flex;
    object-fit: cover;
    width:75%;
    height: 650px;
    align-content: center;
    margin-left: 11rem;
    object-position: top;
    border-radius: 2%;
    
}

.about-text{
    width: 500px;
    color: white;
    line-height: 2.7rem;
    height: 600px;
    margin-left: 5rem;
    align-content: center;
    justify-content: center;
}

.about-text h2{
    font-size: 56px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:2px 2px 0px red;
}

.about-text p{
    font-size: 24px;
    font-family:'Times New Roman', Times, serif
}

.carousel{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 1000px;
    margin-bottom: 1rem;
    padding: 10px;
    
}

.carousel-inner {
    border-style:solid;
    border-top-color: #940000;
    border-width: 15px;
    object-fit: fill;
    object-position: center;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom-color: #940000;
}
 
.carousel img{
    height: 600px;
    width: 100%;
    /* padding: 10px 10px 65px 10px;  */
}

.fav-text{
    justify-content: center;
    margin-top: 2rem;
    font-size: 64px;
    font-family: 'Anton SC', sans-serif;
    text-shadow:2px 2px 0px red;
}

/* Foot Start */
.footBg {
    background-color: #560000;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.row {
    display: flex;
    gap: 50px;
}

.col {
    text-align: center;
}

.contactFontC {
    color: white;
    margin: 0;
    font-size: 16px;
    line-height: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

a{
    color: white;
}

.contactTitle {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    font-family: 'Anton SC';
}

/* Foot End */


@media (max-width: 768px){
        .navbar-nav {
            width: 100%;
        margin-right: 0 !important;
    }

    .navbar{
        margin-bottom: 0px;
    }

    .nav-link {
        font-size: 1.25rem !important;
    }

    .splash-container{
        background-repeat: no-repeat;
        margin: 0;
        height: 500px;
        padding: 0;
        width: 100%;
        margin-top: 0px;
    }

    .about-container{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 720px;
       flex-direction: column-reverse;
       text-align: center;
       padding: 100px;
       
       
    }
    
    .about-container img{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-right: 10rem;

    }


    .about-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-right: 4rem;
    }


    .carousel{
        max-width:fit-content;
    }

    .navbar-toggler-icon{
        color: white;
        border-color: white;

    }

    .navbar-toggler{
        color: white;
        
    }
}


/* Got help with the 360px media query from chatGPT but only for 360px i did everything else myself */
@media (max-width: 360px){
    .navbar-brand img{
    height: 70px;
    margin-left: 0;
}

.navbar-nav{
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    margin-right: 0 ;
    align-items: center;
}

.nav-link{
    font-size: 1.1rem ;
}

.splash-container{
    height: 380px;
    background-size: cover;
}

.splash-text{
    height: 380px;
}

.splash-text h1{
    font-size: 40px;
}

.splash-text h3{
    font-size: 18px;
}

.about-container{
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5rem;
    height: auto;
}

.about-container img{
    width: 100%;
    height: 280px;
    margin: 0;
    object-fit: cover;
}

.about-text{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem;
    line-height: 2rem;
}

.about-text h2{
    font-size: 32px;
    text-align: center;
}

.about-text p{
    font-size: 16px;
    text-align: center;
}



.fav-text{
    font-size: 32px;
    text-align: center;
    margin-top: 2rem;
}


.carousel{
    width: 100%;
    height: 280px;
    padding: 0;
}

.carousel-inner{
    border-width: 8px;
}

.carousel img{
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.footBg{
    height: auto;
    padding: 2rem 1rem;
    margin-top: 4rem;
}

.row{
    flex-direction: column;
    gap: 1.5rem;
}

.contactTitle{
    font-size: 18px;
}

.contactFontC{
    font-size: 14px;
}

}

